 body{
    margin-top: 200px;
    height: 100vh;
    background:lightskyblue;
} 
 #clockDisplay{
	margin:0px auto;
	width: 400px;
	background-color:black;
	border: 5px blanchedalmond;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    height: 100px;
	color: #2ed9f7;
    padding-top: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:60px;
	text-align: center;
	letter-spacing: 2px;
	
}

   